{% extends 'courses/base.html' %}
{% block title %}
My Courses
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>

    .container {
        margin-top: 50px;
    }

    h1.display-1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
        color: darkblue;
    }

    hr {
        margin-bottom: 30px;
    }
    .card-footer a{
        border: 1px solid black;
    }

    .top-right-button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .top-middle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .btn-schedule_list,
    .btn-enroll-class,
    .btn-class-reviews,
    .btn-course-reviews {
        padding: 8px 16px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        border: 1px solid darkred;
        background-color: #f8f9fa;
        color: darkblue;
        transition: background-color 0.3s ease;
        margin-right: 15px;
    }

    .btn-schedule_list:hover,
    .btn-enroll-class:hover,
    .btn-all-reviews:hover {
        background-color: #e9ecef;
    }
</style>
<div class="container">
    <div class="top-middle-button">
        <a class="btn btn-schedule_list" href="{% url 'schedule_list' %}">Class Schedules</a>
        <div style="margin-bottom: 20px;"></div>
        <a class="btn btn-enroll-class" href="/enroll-class">Enroll in Class</a>
        <a class="btn btn-class-reviews" href="/class-reviews/">Class Reviews</a>
        <a class="btn btn-course-reviews" href="/course-reviews/">Course Reviews</a>
    </div>
    <h1 class="display-1">My Courses</h1>

    <div class="row">

        {% for uc in user_course %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card mx-auto">
                <img src="{{ uc.course.thumbnail.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ uc.course.title }}</h5>
                </div>
                <div class="card-footer">
                    <div class="row no-gutters">
                        <div class="col d-flex justify-content-center">
                            <a class="btn btn-block" href="/courses/{{uc.course.slug}}">Start Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}