{% extends 'courses/base.html' %}

{% block title %}
Upload Recorded Video
{% endblock %}

{% block content %}
<style>
    .upload-form {
        width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    body {
    background-color: wheat;
    font-family: Arial,
      sans-serif;
  }
    h1 {
    font-size: 2.5rem;
    color: darkred;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

    .upload-form label {
        display: block;
        margin-bottom: 5px;
        color: darkblue;
        font-weight: bold;
        font-size: 13px;
    }

    .upload-form input[type="text"],
    .upload-form input[type="file"],
    .upload-form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        font-size: 13px;
    }

    .upload-button {
        display: block;
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .upload-button:hover {
        background-color: #45a049;
    }

    .messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .messages li {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 10px;
    }

    .message-success {
        background-color: #dff0d8;
        color: #3c763d;
    }

    .message-error {
        background-color: #f2dede;
        color: #a94442;
    }

    .message-info {
        background-color: #d9edf7;
        color: darkblue;
    }
</style>
<div class="upload-form"></div>
<h1> <b><u>Upload Recorded Class</u></b></h1>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form class="upload-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.title.id_for_label }}">Video title :</label>
    {{ form.title }}

    <label for="{{ form.description.id_for_label }}">Description :</label>
    {{ form.description }}

    <label for="{{ form.course.id_for_label }}">Course :</label>
    {{ form.course }}

    <label for="{{ form.instructor.id_for_label }}">Instructor Name :</label>
    {{ form.instructor }}

    <label for="{{ form.video_file.id_for_label }}">Video File :</label>
    {{ form.video_file }}

    <label for="{{ form.serial_number.id_for_label }}">Serial Number :</label>
    {{ form.serial_number }}

    <button class="upload-button" type="submit">Upload</button>
</form>
{% endblock %}
