{% extends 'courses/base.html' %}

{% block title %}
All Reviews
{% endblock %}

{% block css %}
<style>
    body {
        background-image: url("https://images.pexels.com/photos/1036936/pexels-photo-1036936.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-size: cover;
        background-position: center;
    }

    .container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 30px;
    }

    .review-box {
        flex: 3;
        width: auto;
        height: 80%;
        padding: 20px;
        border: 1px solid darkblue;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }

    .review-box h2 {
        font-size: 2rem;
        color: darkblue;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 5px;
    }

    .review-item {
        margin-bottom: 20px;
        border-bottom: 1px solid darkblue;
        padding-bottom: 10px;
    }

    .review-item:last-child {
        border-bottom: none;
    }

    
    .review-item p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .review-item p.label-course {
        color: darkblue;
        font-weight: bold;
    }

    .review-item p.label-rating {
        color: green;
        font-weight: bold;
    }

    .review-item p.label-student {
        color: #DC3545;
        font-weight: bold;
    }

    .review-item p.label-feedback-text {
        color: purple;
        font-weight: bold;
    }

    .review-item p.label-created-at {
        color: blue;
        font-weight: bold;
    }

    .review-item .rating {
        color: darkblue;
        font-weight: bold;
    }

    table {
        width: 70%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 30px;
        border: 1px solid darkblue;
        background-color: skyblue;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    th,
    td {
        padding: 20px;
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid darkblue;
        border-left: 1px solid darkblue;
        border-right: 1px solid darkblue;
        border-top: 1px solid darkblue;
        color: black;
    }

    th {
        background-color: green;
        color: white;
        font-size: 14px;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: center;
        color: darkblue;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="review-box">
        <h2><b>Course Reviews</b></h2>
        {% if course_reviews %}
        {% for review in course_reviews %}
        <div class="review-item">
            <p class="label-course">Course:{{ review.course.title }}</p>
            <p class="label-rating">Rating: <span class="rating">{{ review.get_rating_display }}</span></p>
            <p class="label-student">Student: {{ review.student.name }}</p>
            <p class="label-feedback-text">Comment: {{ review.comment }}</p>
            <p class="label-created-at">Created at: {{ review.created_at }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>No course reviews available.</p>
        {% endif %}
    </div>
    {% endblock %}