{% extends 'courses/base.html' %}

{% block title %}
Feedback
{% endblock %}

{% block css %}
<style>
    body {

        background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=600');
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #333;
    }

    h1 {
        font-size: 2.5rem;
        color: darkblue;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
    }

    form {
        text-align: center;
        padding: 4px;
        
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 15px;
        color: darkred;
    }

    input[type="text"],
    input[type="email"],
    select,
    textarea {
        width: 20%;
        padding: 8px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        width: fit-content;
        margin: 0 auto;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #45a049;
    }

    .message {
        font-size: 16px;
        color: green;
        text-align: center;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid"></div>
<h1>Feedback Form</h1>

<div>
    {% if feedback_submitted %}
    <p class="message">Feedback approved!</p>
    {% endif %}

    <form method="post" action="{% url 'submit_rating_feedback' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="{{ form.course.id_for_label }}">Course:</label>
            {{ form.course }}
        </div>

        <div class="form-group">
            <label for="{{ form.rating.id_for_label }}">Rating:</label>
            {{ form.rating }}
        </div>

        <div class="form-group">
            <label for="{{ form.comment.id_for_label }}">Comment:</label>
            {{ form.comment }}
        </div>

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}