{% extends 'courses/base.html' %}
{% load static %}
{% block title %}
course_page
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'onlineclasses/css/scrollbar.css' %}">
<link rel="stylesheet" href="{% static 'onlineclasses/css/common.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'onlineclasses/js/course_page.js' %}"></script>
<script>
    function changeVideo(url) {
        document.getElementById('player').src = url;
    }
</script>
{% endblock %}


{% block content %}

<style>
    .card-title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 12px;
        line-height: 1.5;
    }

    .list-group-item {
        font-size: 14px;
    }

    .feedback-button {
        text-align: center;
        margin-top: 10px;
    }
</style>
<div class="container-fluid">
    <br>
    <br>
    <div class="card p-4">
        <div class="row">
            <div class="col">
                
                <div>
                    <video id="player" width="100%" height="415" controls>
                        <source id="video-source" src="{{ course.video_set.first.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="col-3">
              
                <h5 style="text-align: center;">Lecture Videos</h5>
                <ul id="video_list" class="list-group overflow-y-scroll">
                    {% for video in course.video_set.all %}
                    <li class="list-group-item">
                        <a href="#" onclick="changeVideo('{{ video.video.url }}');">{{ video }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <br>
               
                <h5 style="text-align: center;">Recorded Live Videos</h5>
                <ul id="recorded_video_list" class="list-group overflow-y-scroll">
                    {% for recording in recordings %}
                    <li class="list-group-item">
                        <a href="#" onclick="changeVideo('{{ recording.video_file.url }}');">{{ recording }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prerequisites for this:</h5>
                    <p class="card-text">
                    <ol>
                        {% for prerequisite in course.prerequisites_set.all %}
                        <li class="">{{ prerequisite }}</li>
                        {% endfor %}
                    </ol>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What You Will Learn:</h5>
                    <p class="card-text">
                    <ol>
                        {% for learning in course.learning_set.all %}
                        <li class="">{{ learning }}</li>
                        {% endfor %}
                    </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Review/Feedback Form -->
<div class="text-center">
    <a href="{% url 'course_review' course.pk %}" class="btn btn-primary" style="font-size: 16px; color:white;">Give
        Feedback and Review</a>
        </div>
    </div>
</div>

{% endblock %}