{% extends 'courses/base.html' %}
{% block title %}
Notifications Success
{% endblock %}
{% block content %}
<style>
    
    .notification {
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      color: #3c763d;
      padding: 10px;
      margin-bottom: 20px;
      
    }
    
    .notification p {
      margin: 0;
      font-size: 26px; 
      font-weight: bold;
      text-align: center;
    }
    </style>
    


  {% if enrollment.notification %}
    <div class="notification">
   
      <p>You have successfully enrolled in the class!</p>
    </div>
  {% endif %}
  
{% endblock %}

