{% extends 'courses/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<style>
    body {
        background-color: darkgrey;
        font-family: Arial,
            sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
        font-size: 16px;
        background-size: cover;
        background-position: center;
    }

    .login-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-image: url('https://th.bing.com/th/id/OIP.Luuvm1WeWG4OUiVp4F0VxQHaEo?w=292&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7');
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;
    }
    

    .login-container h1 {
        font-size: 30px;
        color: #006400;
        margin-bottom: 30px;
    }

    .login-form {
        margin-bottom: 20px;
    }

    .login-form label {
        font-size: 16px;
        display: block;
        margin-bottom: 5px;
        text-align: left;
        color: #000080;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .login-form input[type="text"] {
        height: 30px;
    }

    .login-form input[type="email"] {
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 14px;
        box-sizing: border-box;
    }

    .login-form input[type="submit"] {
        background-color: #4CAF50;
        color: black;
        border: none;
        cursor: pointer;
    }

    .forgot-password a {
        color: red;
        text-decoration: none;
    }

    .forgot-password a:hover {
        text-decoration: underline;
    }

    h1 {
        font-size: 30px;
        color: #006400;

    }
    .signup-link a {
            color: blue;
            text-decoration: none;
        }

        .signup-link a:hover {
            text-decoration: underline;
        }
</style>

<div class="login-container">
    <h1><b>Login Page</b></h1>
    <hr>

    <div class="login-form">
        <form method="post" action="/login">
            {% csrf_token %}

            <div class="form-field">
                <label for="{{ form.username.id_for_label }}"><b>Enter username:</b></label>
                {{ form.username }}
            </div>

            <div class="form-field">
                <label for="{{ form.password.id_for_label }}"><b>Enter password:</b></label>
                {{ form.password }}
            </div>

            <input type="submit" value="Login">
        </form>
    </div>

    <div class="forgot-password">
        <a href="/reset_password"><b>Forgot password?</b></a>
    </div>
    <div class="Don't have an account">
        <a href="/signup"><b>Don't have an account?(Create One)</b></a>
    </div>
</div>

{% endblock %}